<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
        <div class="container wrapper post">
            {{ partial "head.html" . }}

            <div class="my-auto" >
                <form action="{{ "search" | absURL }}">
                    <input id="search-query" name="s"/>
                </form>
                <div id="search-results">
                    <h3>Matching pages</h3>
                </div>
            </div>

            <script id="search-result-template" type="text/x-js-template">
            <div id="summary-${key}">
                <h4><a href="${link}">${title}</a></h4>
                <p>${snippet}</p>
                ${ isset tags }<p>Tags: ${tags}</p>${ end }
                ${ isset categories }<p>Categories: ${categories}</p>${ end }
            </div>
            </script>
        
        </div>
        
        {{ partial "footer.html" . }}
        
        <script src="{{ "js/jquery-3.3.1.min.js" | absURL }}"></script>
        <script src="{{ "js/fuse.min.js" | absURL }}"></script>
        <script src="{{ "js/jquery.mark.min.js" | absURL }}"></script>
        <script src="{{ "js/search.js" | absURL }}"></script>

</body>
</html>

