ressource {
    padding: 3px;
    border-radius: 4px;
    color: #c7254e;
    background: #f8f5ec;
    font-family: Consolas, Monaco, Menlo, monospace;
    font-size: 13px;
}

input[type=text] {padding:5px; border:2px solid #f8f5ec; 
-webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type=text]:focus {border-color:#c7254e; }

input[type=submit] {padding:5px 15px; background:#f8f5ec; border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; }

.post .post-content code, .post .post-content pre {
    padding: 7px;
    font-size: 0.9em;
    font-family: Consolas, Monaco, Menlo, monospace;
    background: transparent;
}

.post .post-content code {
    padding: 3px 5px;
    border-radius: 4px;
    color: #c7254e;
    background: #f8f5ec
}

.post .post-content .highlight {
    margin: 1em 0;
    border-radius: 5px;
    overflow-x: auto;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, .125);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .125);
    position: relative
}

.post .post-content .highlight table:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 2px 7px;
    font-size: 13px;
    font-weight: 700;
    color: #b1b1b1;
    background: transparent;
    content: ""
}

.icon-music:before { content: "\E911"; }
.icon-file-pdf:before { content: "\EADF"; position: relative; top: 2px; }
.icon-file-text2:before { content: "\E926"; position: relative; top: 2px; }
.icon-file-zip:before { content: "\E92B"; position: relative; top: 2px; }
.icon-rss:before { content: "\EA9B"; position: relative; top: 2px; }
.icon-twitter:before { content: "\EA96"; position: relative; top: 2px; }
.icon-github:before { content: "\EAB0"; position: relative; top: 2px; }
.icon-stack-overflow:before { content: "\EAD0"; position: relative; top: 0px; }
.icon-email:before { content: "\EA84"; position: relative; top: 2px; }
.icon-right:before { content: "\EA42"; position: relative; top: 3px; }
.icon-left:before { content: "\EA44"; position: relative; top: 3px; }
.icon-up:before { content: "\EA41"; }
.icon-close:before { content: "\EA80"; }
