ressource {
    padding: 3px;
    border-radius: 4px;
    color: #c7254e;
    background: #f8f5ec;
    font-family: Consolas, Monaco, Menlo, monospace;
    font-size: 13px;
}

input[type=text] {padding:5px; border:2px solid #f8f5ec; 
-webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type=text]:focus {border-color:#c7254e; }

input[type=submit] {padding:5px 15px; background:#f8f5ec; border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; }

.post .post-content blockquote{
    margin: 2em 0;
    padding: 10px 20px;
    position: relative;
    color: rgba(52,73,94,.8);
    background-color: rgba(192,91,77,.05);
    border-left: 3px solid rgba(192,91,77,.3);
    -webkit-box-shadow: 1px 0px 1px rgba(0,0,0,.125);
    box-shadow: 1px 0px 1px rgba(0,0,0,.125)
}

.post .post-content code, .post .post-content pre {
    padding: 7px;
    font-size: 0.9em;
    font-family: Consolas, Monaco, Menlo, monospace;
    background: transparent;
}

.post .post-content code {
    padding: 3px 5px;
    border-radius: 4px;
    color: #c7254e;
    background: #f8f5ec
}

.post .post-content .highlight {
    margin: 1em 0;
    border-radius: 5px;
    overflow-x: auto;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, .125);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .125);
    position: relative
}

.post .post-content .highlight table:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 2px 7px;
    font-size: 13px;
    font-weight: 700;
    color: #b1b1b1;
    background: transparent;
    content: ""
}

.archive .archive-tweet {
    padding: 3px 20px;
    border-left: 1px solid #cacaca
}

.archive .archive-tweet p {
    margin-top: 0em;
    margin-bottom: 0em;
}

.archive .archive-tweet a { color: #c05b4d }

.archive .archive-tweet code { 
    padding: 3px 5px;
    border-radius: 4px;
    color: #c7254e;
    background: #f8f5ec;
    font-size: 0.9em;
    font-family: Consolas, Monaco, Menlo, monospace;
}

.archive .archive-tweet .archive-tweet-time {
    margin-right: 10px;
    color: #8a8a8a;
    font-size: 0.8em
}

.archive .archive-tweet:hover { border-left: 3px solid #c05b4d }

.icon-music:before { content: "\E911"; }
.icon-file-pdf:before { content: "\EADF"; position: relative; top: 2px; }
.icon-file-text2:before { content: "\E926"; position: relative; top: 2px; }
.icon-file-zip:before { content: "\E92B"; position: relative; top: 2px; }
.icon-rss:before { content: "\EA9B"; position: relative; top: 2px; }
.icon-twitter:before { content: "\EA96"; position: relative; top: 2px; }
.icon-github:before { content: "\EAB0"; position: relative; top: 2px; }
.icon-stack-overflow:before { content: "\EAD0"; position: relative; top: 0px; }
.icon-email:before { content: "\EA84"; position: relative; top: 2px; }
.icon-right:before { content: "\EA42"; position: relative; top: 3px; }
.icon-left:before { content: "\EA44"; position: relative; top: 3px; }
.icon-up:before { content: "\EA41"; }
.icon-close:before { content: "\EA80"; }

progress {display:block;padding:0;margin-bottom:-10px}
/*
.progress[value] {}
.progress[value]:after { content: attr(value); }
*/
