.gallery {
    margin: 0.5em -4px 1.5em -4px;
    font-size: 0;
}

a[data-fancybox] {
    text-decoration: none;
}

a[data-fancybox] img {
    height: 250px;
    max-width: inherit;
    display: inherit;
    margin: 0;
    padding: 4px;
    box-shadow: none;
    vertical-align: inherit;
}

.fancybox-caption {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
}

